main {
  background-color: hsl(0, 0%, 86%);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.grid-container {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 2rem;
  border-radius: 10px;
  border-end-end-radius: 100px;
}

.container {
  display: flex;
}
.container-col {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
input {
  width: 90px;
  height: 40px;
  margin-top: 0.5rem;
  border-color: silver;
  border-style: solid;
  border-radius: 3px;
  font-size: 32px;
  font-weight: 700;
}
hr {
  border-bottom: 1px solid silver;
  width: 465px;
}
.display {
  width: max-content;
  padding: 1rem;
}

h1 {
  color: hsl(259, 100%, 65%);
  font-style: italic;
  font-weight: 700;
  font-size: 48px;
  margin: 0;
}

span {
  color: black;
  font-weight: 800;
}

.submit {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border-style: none;
  background-color: hsl(259, 100%, 65%);
  position: relative;
  left: 450px;
  bottom: 30px;
}
